<!DOCTYPE html>

{% load compress static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/all.scss' %}">
    {% endcompress %}

    {% block extra_css %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
</head>
<body>
    {% block body%}
        <div class="container-fluid">
            <nav class="navbar navbar-default navbar-fixed-top">
           <a class="navbar-brand " href="/zh-hant/">
               <img width="156" src="{% static 'img/codeme_logo--green.png'%}" alt="" data-pin-nopin="true">
            </a>
        </nav>
            <div class="row">
                <section class="col-sm-3 Status-analytics">
                    <div class="Status-analytics-chart">
                        <header class="Status-analytics-chart-heading">Status Analytics</header>
                        <div class="Status-analytics-chart-radar">
                            put radar here
                        </div>
                    </div>
                    <div class="Status-analytics-filters">
                         <header class="Status-analytics-filter-heading">Filters</header>
                         <div class="Status-analytics-filter-filters">
                            put filters here
                        </div>
                    </div>
                </section>

                <section class="col-sm-9 Filtered-resume">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="Filtered-resume-item">
                                <a href="#"><img class="Filtered-resume-item-avatar" src="{% static 'img/avatar-1_400x400.png'%}" alt=""></a>
                                <p class="Filtered-resume-item-name">Liang Huang</p>
                                <div class="Filtered-resume-item-question">
                                    <span class="pull-left">Fulfill your demand</span>
                                    <span class="pull-right">
                                        <label><input type="checkbox">Yes</label>
                                        <label><input type="checkbox">No</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4"></div>

                    </div>
                </section>
            </div>
        </div>

    {% endblock %}
</body>

