.Status-analytics {
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
}

.Status-analytics-chart-heading {
  margin-top: 64px;
  margin-left: 24px;
  border-left: 3px solid #4CBA7F;
  padding-left: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.Status-analytics-chart {
  background: #37434D;
  border: 1px solid #3E3E3E;
  border-radius: 4px 0 0 4px;
  height: 500px;
}

.Status-analytics-chart-radar {
  color: #fff;
  margin-left: 24px;
  margin-top: 10px;
}

.Status-analytics-filters {
  background: #272F35;
  border: 1px solid #3E3E3E;
  height: 999999px;
}

.Status-analytics-filter-heading {
  @extend .Status-analytics-chart-heading;
  margin-top: 12px;
}

.Status-analytics-filter-filters {
  @extend .Status-analytics-chart-radar;
}

.Filtered-resume {
  background-color: #ededed;
  height: 999999px;
  padding-left: 30px;
  padding-right: 0;
  padding-top: 75px;

}

.Filtered-resume-item {
  background-color: #f7fafc;
  min-height: 363px;
  width: 100%;
  text-align: center;
  border: 1px solid #E7E7E7;
  border-radius: 4px;
  margin-bottom: 24px;
}

.Filtered-resume-item-avatar {
  border-radius: 50%;
  border: 5px solid #cccccc;
  margin-top: 16px;
  height: 134px;
  width: 134px;
}

.Filtered-resume-item-name {
  margin-top: 8px;
  color: #4D4D4D;
  font-size: 20px;
  font-weight: 600;
}

.Filtered-resume-item-question {
  border-left: 3px solid #4CBA7F;
  padding-left: 5px;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  height: 20px;
  input[type="checkbox"] {
    margin-right: 3px;
  }
  > .pull-right {
    margin-left: 15px;
  }
  label {
    font-weight: lighter;
    color: #9FB1C0;
  }
}


#fieldlist {
  margin: 0 0 -2em;
  padding: 0;
  text-align: center;
}

#fieldlist > li {
  list-style: none;
  padding-bottom: 2em;
}

#fieldlist label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
}
#Container .mix{
  display: none;
}

.Filtered-resume-item-statics-charts {
  margin: 10px 10px;
}

.ProgressBar-label {
  font-weight: light;
  width: 100px;
  font-size: 11px;
  margin-right: 4px;
  color: #8795A0;
  text-align: right;
  padding-right: 5px;
}

.progress {
  border-radius: 0;
}

.progress-bar-color {
  //background-color: #5481FF;
  background-color: #F0AD4E;
}

.balSlider-group {
  div {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
}

.balSlider-label {
  text-align: right;
  padding-top: 4px;

}

#fieldlist {
  label {
    display: inline-block; // for balslider-label
    padding-right: 8px;
    font-weight: normal;
    font-size: 11px;
    color: #cccccc;
  }
  > li {
    padding-bottom: 0;
  }
}

.Filter-radar-charts-group,
.Filter-ability-group {
  list-style-type: none;
}


.Filtered-resume-item-description {
  padding: 10px 10px 12px 10px;
  background-color: #47535D;
  //width: 95%;
  text-align: left;
  margin: 0 auto;
  //border-top: 1px dashed #e6e6e6;
  color: #fff;
  min-height: 120px;
}

.Filters-divider {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 60%;
  border-top: 0;
}


.k-slider-selection  {
  background-color: #F0AD4E !important;
  //background-color: #FFBE31 !important;
}

.Filtered-bounceOut {
  animation-name: bounceOut;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}

.Filtered-bounceIn {
  animation-name: bounceIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}



@keyframes bounceIn {

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  //20% {
  //  transform: scale3d(1.1, 1.1, 1.1);
  //}
  //
  //40% {
  //  transform: scale3d(.9, .9, .9);
  //}

  60% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  //80% {
  //  transform: scale3d(.97, .97, .97);
  //}

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}



@keyframes bounceOut {

  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
}

.bounceOut {
  animation-name: bounceOut;
}